.body {
  background-color: #ffeccd;
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__heading {
  color: #4b3b06;
  font-size: 10em;
}

.header__subheading {
  color: #4b3b06;
  font-size: 4em;
  margin-top: 0;
}

.card {
  max-width: 800px;
  padding: 2em;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card__image {
  border-radius: 10px;
  max-width: 500px;
}

.card__quote {
  max-width: 500px;
}
